In [16]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

from subprocess import check_output
print(check_output(["ls", "input"]).decode("utf8"))

test_data - Copy.csv
test_data.csv
train_features - Copy.csv
train_features.csv

In [4]:
train_df = pd.read_csv('input/train_features.csv')
test_df = pd.read_csv('input/test_data.csv')
combine = [train_df, test_df]

In [5]:
train_df.drop(train_df.columns[[0]], axis =1, inplace=True)

In [6]:
train_df.head(10)

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
5,4,4,1000,4,0
6,2,7,1750,14,1
7,1,12,3000,35,0
8,5,46,11500,98,1
9,0,3,750,4,0

In [7]:
idNumbers = test_df[test_df.columns[0]]

In [8]:
print (idNumbers)

0      659
1      276
2      263
3      303
4       83
5      500
6      530
7      244
8      249
9      728
10     129
11     534
12     317
13     401
14     696
15     192
16     176
17     571
18     139
19     423
20     563
21      56
22     528
23     101
24     467
25     382
26     466
27     294
28     512
29     659
      ...
170    131
171    405
172     82
173    643
174    156
175    617
176    574
177    272
178    613
179    545
180    685
181    570
182    537
183    691
184     85
185    483
186    455
187     93
188    744
189     33
190    321
191    523
192    426
193    196
194    301
195    103
196    224
197    454
198    585
199    154
Name: Unnamed: 0, Length: 200, dtype: int64

In [9]:
test_df.drop(test_df.columns[[0]], axis =1, inplace=True)

In [12]:
test_df.shape

(200, 4)

In [13]:
print('Train columns with null values:\n', train_df.isnull().sum())
print("-"*50)
print('Test columns with null values:\n', test_df.isnull().sum())

Train columns with null values:
 Months since Last Donation     0
Number of Donations            0
Total Volume Donated (c.c.)    0
Months since First Donation    0
Made Donation in March 2007    0
dtype: int64
--------------------------------------------------
Test columns with null values:
 Months since Last Donation     0
Number of Donations            0
Total Volume Donated (c.c.)    0
Months since First Donation    0
dtype: int64

In [20]:
X_train = train_df.drop("Made Donation in March 2007", axis=1)
Y_train = train_df["Made Donation in March 2007"]
X_test  = test_df.copy()
X_train.shape, Y_train.shape, X_test.shape

((576, 4), (576,), (200, 4))

In [21]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

76.39

In [25]:
coeff_df = pd.DataFrame(train_df.columns.delete(4))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

coeff_df.sort_values(by='Correlation', ascending=False)

                       Feature  Correlation
2  Total Volume Donated (c.c.)     0.000516
1          Number of Donations     0.000002
3  Months since First Donation    -0.018967
0   Months since Last Donation    -0.092047

In [27]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

91.15

In [28]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

83.33

In [29]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

74.65

In [30]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

c:\users\sajeewa\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

64.06

In [31]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

55.21

In [32]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

c:\users\sajeewa\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

76.04

In [33]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

93.75

In [34]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

93.75

In [35]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  93.75
8               Decision Tree  93.75
0     Support Vector Machines  91.15
1                         KNN  83.33
2         Logistic Regression  76.39
6  Stochastic Gradient Decent  76.04
4                 Naive Bayes  74.65
5                  Perceptron  64.06
7                  Linear SVC  55.21

In [36]:
submission = pd.DataFrame({
        "": idNumbers,
        "Made Donation in March 2007": Y_pred
    })
submission.to_csv('output/submission.csv', index=False)